<div class="container">
	<div class="row">
		<div class="col-xs-3">
		</div>

			<h1>Book detail</h1>

			<table>
				<thead></thead>
					<tbody>
						<% @books.each do |book| %>
							<tr>
								<td>
									<%= book.title %>
								</td>
								<td>
									<%= book.body %>
								</td>
							</tr>
						<% end %>
					</tbody>
			</table>
	</div>
</div>